<footer class="footer">

  <span class="todo-count" style="margin-right: 1.25rem;"><strong>{{pendientes}}</strong> Tareas pendientes</span>

  <ul class="filters">
    <li *ngFor="let filtro of filtros" (click)="cambiarFiltro(filtro)">
      <a style="cursor: pointer; " [ngClass]="filtro===filtroActual ? 'selected': '' ">{{filtro}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed " (click)="limpiar()">Limpiar completados</button>
</footer>
